<a href="https://colab.research.google.com/github/Jorge2018/prediccion_ventas/blob/main/bike.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
bike_df= pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/prediccion_ventas/main/Test_Bicycle.csv',sep=';')

bike_df['Week of']=bike_df['Week of'].astype(str)
name = bike_df['Week of'].str.split('-',expand=True)
name.columns = ['NumFecha', 'NomFecha']
bike_df_00 = pd.concat([bike_df, name], axis=1)
meses={mes:'ene',dato:01}
#bike_df['Week of']=pd.to_datetime(bike_df['Week of'])
#bike_df.info()
bike_df_00

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,NumFecha,NomFecha
0,Week 1,30-dic,167679.0,183546.0,NaN,9%,30,dic
1,Week 2,06-ene,82340.0,97140.0,NaN,18%,06,ene
2,Week 3,13-ene,62315.0,75782.0,NaN,22%,13,ene
3,Week 4,20-ene,75801.0,83809.0,NaN,11%,20,ene
4,Week 5,27-ene,75841.0,94738.0,NaN,25%,27,ene
...,...,...,...,...,...,...,...,...
992,NaN,nan,NaN,NaN,NaN,NaN,nan,None
993,NaN,nan,NaN,NaN,NaN,NaN,nan,None
994,NaN,nan,NaN,NaN,NaN,NaN,nan,None
995,NaN,nan,NaN,NaN,NaN,NaN,nan,None
996,NaN,nan,NaN,NaN,NaN,NaN,nan,None